@tailwind base;
@tailwind components;
@tailwind utilities;


.skill-icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.skill-icon:hover {
  transform: translateY(-10px) rotate(10deg);
  color: #00bfff;
}

.social-icon {
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.25) rotate(-10deg);
}:root {
    --border-radius-medium: 0.375rem;
  }
.element {
  border-radius: calc(var(--border-radius-medium) * 0.5);
}
:root {
    --font-sour-medium: 'SourGummyMedium', sans-serif;
    --font-sour-thin: 'SourGummyThinItalic', sans-serif;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
  
  body {
    font-family: var(--font-sour-medium); 
    color: var(--foreground);
    background: var(--background);
    margin: 0%;
    padding: 0%;
  }
  
  

